<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.8.1" targetFramework="net47" />
  <package id="Autofac.Multitenant" version="4.2.0" targetFramework="net47" />
  <package id="GreenPipes" version="2.1.2" targetFramework="net47" />
  <package id="HtmlAgilityPack.NetCore" version="1.5.0.1" targetFramework="net47" />
  <package id="MassTransit" version="5.1.5" targetFramework="net47" />
  <package id="MassTransit.Autofac" version="5.1.5" targetFramework="net47" />
  <package id="MassTransit.RabbitMQ" version="5.1.5" targetFramework="net47" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.0.2" targetFramework="net47" />
  <package id="Microsoft.Diagnostics.Tracing.EventSource.Redist" version="1.1.28" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net47" />
  <package id="Microsoft.Extensions.Primitives" version="2.0.0" targetFramework="net47" />
  <package id="Mira" version="0.5.3" targetFramework="net47" />
  <package id="Mira.Autofac" version="0.5.3" targetFramework="net47" />
  <package id="Mira.Autofac.MassTransit" version="0.5.3" targetFramework="net47" />
  <package id="Mira.Autofac.MassTransit.RabbitMq" version="0.5.3" targetFramework="net47" />
  <package id="MSTest.TestAdapter" version="1.3.2" targetFramework="net47" />
  <package id="MSTest.TestFramework" version="1.3.2" targetFramework="net47" />
  <package id="NewId" version="3.0.1" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net47" />
  <package id="Newtonsoft.Json.Bson" version="1.0.1" targetFramework="net47" />
  <package id="Npgsql" version="4.0.3" targetFramework="net47" />
  <package id="NUnit" version="3.11.0" targetFramework="net47" />
  <package id="RabbitMQ.Client" version="5.1.0" targetFramework="net47" />
  <package id="RestSharp" version="106.5.4" targetFramework="net47" />
  <package id="roche.rmdd.hivmonitor.events" version="0.1.15" targetFramework="net47" />
  <package id="roche.rmdd.hivmonitor.resultregister.common" version="0.4.6" targetFramework="net47" />
  <package id="roche.rmdd.hivmonitor.utils" version="0.5.2" targetFramework="net47" />
  <package id="SimpleIdentityServer.Client" version="3.0.0.5" targetFramework="net47" />
  <package id="SimpleIdentityServer.Common.Client" version="3.0.0.5" targetFramework="net47" />
  <package id="SimpleIdentityServer.Common.Dtos" version="3.0.0.5" targetFramework="net47" />
  <package id="SimpleIdentityServer.Core.Common" version="3.0.0.5" targetFramework="net47" />
  <package id="SpecFlow" version="2.4.0" targetFramework="net47" />
  <package id="System.Diagnostics.Contracts" version="4.3.0" targetFramework="net47" />
  <package id="System.Reactive" version="4.1.1" targetFramework="net47" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net47" />
  <package id="System.Security.Claims" version="4.3.0" targetFramework="net47" />
  <package id="System.Security.Cryptography.OpenSsl" version="4.4.0" targetFramework="net47" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.1" targetFramework="net47" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net47" />
</packages>